h1{
	color: blue;
	font-size: 400%;
	transform: translate(555%, 150%);
}

#banner {
	width: 100%;
	position: relative;
}

.classic{
	width: 400px;
	height: 400px;
	object-fit: cover;
	border-radius: 20px;
}

#logo{
	width: 20%;
}

body{
	font-family: 'Qahiri', sans-serif;
	text-align: center;
	background-color: honeydew;
}

p{
	font-size: 150%;
	color: purple;
	font-weight: bold;
}

a{
	text-decoration: none;
}

li{
	list-style-type: none;
	line-height: 30px;
}

*{
	margin: 0;
	padding: 0;
}

#topbanner{
	display: flex;
}

#logo, h1, #topbanner>h2, #login{
	position: absolute;
}


#topbanner>h2{
	font-size: 200%;
	transform: translate(8%, 1950%);
	background-color: white;
	padding: 0;
}

h2{
	padding: 20px;
}
.cards{
	display: flex;
	justify-content: space-around;
}

.icon{
	width: 30px;
}

#login{
	background-color: white;
	padding: 10px;
	border-radius: 20px;
	transform: translate(1490%, 20%);
}